# File name: Programming Assignment 5

## Author: Brett Tully

### Python Version: 3

#### Class: CS-150-02

##### Semester: Fall '21

In [214]:
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'
   
Jap_Engdict= dict({'potato':'jagaimo','ham':'hamu','backpack':'bakku pakku','program':'puroguramu','television': 'terebi', 'apple':'appuru', 'light' : 'raito','video game':'terebigemu','shrimp':'ebi','horse':'uma','college':'karejji','water':'mizu','tiger':'tora','airplane':'hikoki','bourbon':'babon','president':'daitoryo','steak':'suteki','rice':'gohan','fish':'sakana','watch':'miru'})
print("Choose between the 20 English words below to be translated to Japanese: ")
for key in Jap_Engdict: 
    print(color.BOLD +key+ color.END)
words_left=20
print('  ')
while words_left>1: 
    words_left=words_left-1
    
    tt=input('Enter the English word(or type 0 to stop):  ')
    if tt=='0': 
        break
    key1=Jap_Engdict.get(tt)
    if tt not in Jap_Engdict:
        print("Word not found, check your spelling or choose a different word")
        tt=input('Enter the English word(or type 0 to stop): ')
    print('  ')   
    print(f'The English word',color.BOLD +(tt)+ color.END,'translates to',color.BOLD +(key1)+ color.END,'in Japanese.','                     ', 'There are',(words_left),'words left to pick')

Choose between the 20 English words below to be translated to Japanese:
potato
ham
backpack
program
television
apple
light
video game
shrimp
horse
college
water
tiger
airplane
bourbon
president
steak
rice
fish
watch

Enter the English word(or type 0 to stop):  potato

The English word potato translates to jagaimo in Japanese.                       There are 19 words left to pick
Enter the English word(or type 0 to stop):  ham

The English word ham translates to hamu in Japanese.                       There are 18 words left to pick
Enter the English word(or type 0 to stop):  0

In [215]:
ky_temp= {1:81, 
         2:80,
         3:81,
         3: 81,
         4: 82,
         5: 79,
         6: 84,
         7: 85,
         8: 81,
         9: 79,
         10:80,
         11:82,
         12:86,
         13:88,
         14:88,
         15:80,
         16:83,
         17:86,
         18:87,
         19:84,
         20:76,
         21:78,
         22:61,
         23:68,
         24:73,
         25:72,
         26:76,
         27:82,
         28:85,
         29:85,
         30:83} 
days=list(ky_temp.keys()) 
F_temp=list(ky_temp.values())
C_temp=dict()

for i in ky_temp: 
    ky_temp[i]=(ky_temp[i]-32)*(5/9)
for key,value in ky_temp.items():
    print(key, ' : ', round(value,0))
C_temp=list()
C_temp=ky_temp.values()
hottest=max(C_temp) 
coldest=min(C_temp) 
print('  ')
print("The hottest temperature of the year in Celsius is {0:.0f} degrees C. The Coldest temperature of the year is {1:.0f} degrees C".format(hottest,coldest))

1  :  27.0
2  :  27.0
3  :  27.0
4  :  28.0
5  :  26.0
6  :  29.0
7  :  29.0
8  :  27.0
9  :  26.0
10  :  27.0
11  :  28.0
12  :  30.0
13  :  31.0
14  :  31.0
15  :  27.0
16  :  28.0
17  :  30.0
18  :  31.0
19  :  29.0
20  :  24.0
21  :  26.0
22  :  16.0
23  :  20.0
24  :  23.0
25  :  22.0
26  :  24.0
27  :  28.0
28  :  29.0
29  :  29.0
30  :  28.0

The hottest temperature of the year in Celsius is 31 degrees C. The Coldest temperature of the year is 16 degrees C

# Set Operations

In [216]:
# Symmetric Difference: items within both sets that are not similar will be outputted
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
seta^setb

{10, 12, 22, 23, 24, 34, 65, 76, 77, 99}

In [217]:
# .isdisjoint(): Returns true if none of the items in Seta are in Setb
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10}
seta.isdisjoint(setb)

False

In [198]:
# intersection_update(): removes items in this set that are not present in the other set
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10}
seta.intersection_update(setb) 
print(seta) 

#or 

seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
seta&=setb 
seta

{18, 21}

{18, 21}

In [199]:
# Symmetric Difference: items within both sets that are not similar will be outputted
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
seta^=setb 
seta

{10, 12, 22, 23, 24, 34, 65, 76, 77, 99}

In [205]:
# .remove() will remove the specified element within the set, but will show error if element does not exist.
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
seta.remove(18)
print(seta)

{34, 12, 77, 21, 22, 24}

In [207]:
# .discard() will remove element from set, and will not show error if it does not exist
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
setb.discard(18)
setb

{10, 21, 23, 65, 76, 99}

In [212]:
# .pop()removes the first item in a set
seta={34,12,18,22,21,24,77}
setb={65,23,18,21,99,76,10} 
setb.pop() 
setb

{10, 18, 21, 23, 76, 99}